html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  padding: 10px;
  min-width: 300px;
  border-radius: 1rem;
}

.list-container {
  border: 1px solid gray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 0.5rem;
}

.add-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 10px;
}

h1 {
  text-align: center;
}
