html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: bisque;
}

.list-container {
  border: 1px solid gray;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

ul {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
  }